
h1 {
    color: blue; 
    text-decoration: underline; 
}

p {
    color: green;
}
.more-fun-facts {
    color: rgb(0, 85, 255)
}
.more-fun-facts a {
    color: red; /* Color for the link */
    font-weight: bold; /* Make the link text bold */
}

.more-fun-facts a:hover {
    color: blue; /* Color for the link when hovered */
}